/* ================================================================
   Site Header
   ================================================================ */

.site-header {
	padding:15px 0;
	background:#ddd;

	.logo { display:block; margin-bottom:15px; }
}





/* ================================================================
	Site Main
	================================================================ */

.site-main {

}






/* ================================================================
	Site Footer
	================================================================ */

.site-footer {
	padding:15px 0;
	background:#ddd;
}